<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="io.kazak">

  <application
    android:allowBackup="false"
    android:fullBackupContent="false"
    tools:ignore="UnusedAttribute">

    <activity
      android:name="io.kazak.DebugActivity"
      android:label="@string/debug_activity_title"
      android:exported="false" />

  </application>

</manifest>
