<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="io.kazak">

  <!-- The ignore is for fullBackupContent with minSdkVersion < 23 -->
  <application
    android:allowBackup="false"
    android:fullBackupContent="false"
    tools:ignore="UnusedAttribute">

    <activity
      android:name="io.kazak.DebugActivity"
      android:label="@string/debug_activity_title"
      android:theme="@style/Theme.Kazak.OpaqueStatusBar"
      android:exported="false"
      android:parentActivityName="io.kazak.schedule.ScheduleActivity" />

  </application>

</manifest>
